<html>
  <body style="text-align: center; background-color:black; color: white;">
    <center>
        <br/>
        
        <h2 style="color: red">Cloud Assignment 3.3 Parallel Matrix Multiplication</h2>
                  <h2 style="color: red">-Khush Dwivedi</h2>
 
      <form action="{{ url_for('process')}}" method="POST">
        
        <table>
                   <tr><td>Number of rows in input matrices :</td><td><input type="number" name="n" required /></td></tr>
        <tr><td>Number of columns in input matrices :</td><td><input type="number" name="m" required /></td></tr>
    </table>
    <input type="submit" value="Submit" />
      </form>
      
      
    </center>
  </body>
</html>
